
<!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('<%= asset_path('booking/booking.jpg') %>'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">

            
                
            <div class="container clearfix">
                <h1 data-animate="fadeInUp">Booking the Studio</h1>
                <span data-animate="fadeInUp" data-delay="200">Booking our studio is easy.</span>   
            </div>

        </section><!-- #page-title end -->

 <section id="content">

    <div class="content-wrap nobottompadding">                        
        <div class="heading-block center" data-animate="fadeIn">
            <h2>By the Hour</h2>                        
        </div>

            <div class="container clearfix">

                <div class="pricing bottommargin clearfix">

                    <div class="col-sm-6">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>Weekday (Mon-Thurs)</h3>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>95<span class="price-tenure">for first 2 hours (min)</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><h3>$50 per hour for additional time</h3></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                 <div class="col-sm-6">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>Weekend (Fri-Sun)</h3>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>109<span class="price-tenure">for first 2 hours (min)</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><h3>$60 per hour for additional time</h3></li>
                                </ul>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
                    
                                            



            <div class="container clearfix">
                        
                <div class="heading-block center" data-animate="fadeIn">
                    <h2>Memberships</h2>                        
                </div>

                <div class="pricing bottommargin clearfix">
                                                
                    <div class="col-md-4">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>Starter</h3>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>295<span class="price-tenure">/mo</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><strong>8</strong> hours per month</li>
                                    <li>(Over <strong>&dollar;170</strong> in savings)</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="pricing-box best-price">
                            <div class="pricing-title">
                                <h3>Pro</h3>
                                <span>Most Popular</span>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>355<span class="price-tenure">/mo</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><strong>12</strong> hours per month</li>
                                    <li>(Over <strong>&dollar;350</strong> in savings)</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="pricing-box">
                            <div class="pricing-title">
                                <h3>Deluxe</h3>
                            </div>
                            <div class="pricing-price">
                                <span class="price-unit">&dollar;</span>425<span class="price-tenure">/mo</span>
                            </div>
                            <div class="pricing-features">
                                <ul>
                                    <li><strong>16</strong> hours per month</li>
                                    <li>(Over <strong>&dollar;520</strong> in savings)</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    
                    

                </div>
                <div class="center">
                    <p>*All memberships require a 3 month commitment</br>
                    *All rentals are a minimum of 2 hours</p>
                </div>
                    
             </div>
        
                    <div class="promo parallax promo-dark promo-flat promo-full bottommargin" style="background-image: url('<%= asset_path('booking/booking.jpg') %>');" data-stellar-background-ratio="0.5">
                <div class="container clearfix">
                    <h3>Send us a booking request below and we'll send you a booking center.</h3>
                    <span>Book your boudoir, newborn, portrait, headshots, or any type of session at Studio Adorn today!</span>
                    <a href="#calendar" data-href="#calendar" class="button button-reveal button-xlarge"><i class="icon-angle-right"></i><span>Book Now</span></a>
                </div>
            </div>

    </div>

</section><!-- #content end -->

            
            
            
            
<section id="content">

    <div class="content-wrap nobottompadding">

            <div class="heading-block center" data-animate="fadeIn">
                <h2>Booking Process</h2>

            </div>

            <div class="container clearfix">

                <div class="col_half">
                    <div class="feature-box fbox-effect nobottomborder" data-animate="fadeIn">
                        <h3>Booking Studio Adorn</h3>
                        <ul>
                            <li>Check availability via our calendar below.</li>
                            <li>Select the number of hours you'd like to book, followed by the day and start time.</li>
                            <li>We will review your selection and send a booking center with invoices and a contract within 24 hours.</li>
                            <li>A contract &amp; 50% retainer is required to reserve your date and time slot.</li>
                            <li>An incidental fee will be required before the commencement of your reservation and will be refunded after the date of booking.</li>

                        </ul>
                    </div>
                </div>

                <div class="col_half col_last">
                    <div class="feature-box fbox-effect nobottomborder" data-animate="fadeIn">
                        <h3>During Your Rental</h3>
                        <ul>
                            <li>A Studio Adorn representative will let you in 15 minutes before your booked time.</li>
                            <li>We will walk through the studio with you to ensure everything is in order before your session. Your signature will officially start your reservation and the studio is all yours!</li>
                            <li>At the end of your booked time, we'll to do a final walk-through to ensure that everything ran smoothly.</li>

                        </ul>
                    </div>
                </div>
                

                
            </div>
        
            <div class="center" data-animate="fadeIn">
                <p>*Studio Adorn requires all photographers to provide proof of identity.</p>
            </div>
 </section>
    
<section id="calendar">
    <div class="content-wrap">
        <div class="heading-block center" data-animate="fadeIn">
                <h2>Booking Calendar</h2>
        </div>
    
        <div align="center" style="height:100%;margin:auto;">
            <iframe src="//secure.scheduleonce.com/studioadorn&thm=white&dt=&em=1" id="SOI_studioadorn" name="ScheduleOnceIframe"  scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" height="635px" width="100% !important" vspace="0" style="max-width: 796px;width:100% !important;border-radius: 7px;-webkit-border-radius:7px;"></iframe>
        </div>
        
        <script type="text/javascript" src="//secure.scheduleonce.com/mergedjs/ScheduleOnceEmbed.js"></script><script type="text/javascript">soe.AddEventListners();</script>
    
    
    </div>
    
    
    
</section>
     
     
