
    <!-- Page Title
            ============================================= -->
            <section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('<%= asset_path('about/parallax.jpg') %>'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.4">



                <div class="container clearfix">
                    <h1 data-animate="fadeInUp">Our Story</h1>
                    <span data-animate="fadeInUp" data-delay="200">Everything you need to know.</span>   
                </div>

            </section><!-- #page-title end -->

<div class="divider divider-short divider-center topmargin-sm"><i class="icon-camera"></i></div>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                 <div class="row common-height clearfix">

                    <div class="col-sm-5 col-padding" style="background: url('<%= asset_path('about/about.jpg') %>') center center no-repeat; background-size: cover;"></div>

                    <div class="col-sm-7 col-padding">
                        <div>
                            <div class="heading-block">
                                <span class="before-heading color">Owners</span>
                                <h3>Sivan &amp; Craig Rettew</h3>
                            </div>

                            <div class="row clearfix">

                                <div class="col-md-12">
                                    <p>Studio Adorn was founded in 2013 by us, Sivan & Craig, owners of <%= link_to("Sivan Photography", "http://www.sivanphotography.com", target: "_blank") %>. After searching for rental space for boudoir photos and having no luck, we decided to not only open a studio for our own use, but to rent it out to other photographers who need it just as much as we do.</p> 
                                    
                                    <p>We were sitting at our favorite coffee shop (Axum in Winter Garden) discussing the details of a boudoir studio, it truly seemed unattainable. We talked about all of the amazing details that Sivan had envisioned. She wanted a huge, open space with no walls, and with dark wood floors. She wanted there to be floor-to-ceiling windows, and all on the 2nd floor so that her boudoir lovelies could feel more comfortable. We looked around on the surface, but decided it wasn&#8217;t the time. Besides, could we ever really find a space like that in Orlando? Sivan pictured a New York ballet studio. Elegant, classy, romantic.</p>

                                    <p>One day, after a boudoir bash, Sivan couldn&#8217;t take it anymore. Her excitement was through the roof, and so we started driving all over Winter Garden and Ocoee looking for &#8220;space available&#8221; signs. Just as she was about to give up and head home, she thought &#8220;let me turn into this one last plaza and see if there&#8217;s anything.&#8221; We had no idea our dream space was literally walking distance from our house. It had everything we wanted!</p>
                                    
                                    <p>In no time we decided to lease the space and renovate it. It took about a month of hard work to get it to where it is today. Our goal is to provide photographers a unique space to let their imaginations flourish. With endless combinations of setups, you and your client will be more than pleased with the one-of-a-kind final product! This space is truly a photographer's playground.</p>

                                    </div>

                            </div>

                        </div>
                    </div>

                </div>

                

                </div>

            

        </section><!-- #content end -->

<div class="divider divider-short divider-center topmargin-sm"><i class="icon-camera"></i></div>
